.main {
  min-height: 100dvh;
  display: grid;
  place-content: center;
  background-color: rgb(113, 109, 109);
  margin-left: 0vw;
  margin-right: 0vw;
}

.emailIcon {
  color: #ffdd00;
}

.phone {
  color: lime;
}
